{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.499687938307!2d1.3125257154721157!3d44.031732379110096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ac0c477456dfbb%3A0xff6bd82eb72a1e1d!2sLyc%C3%A9e%20Agricole%20de%20Capou!5e0!3m2!1sfr!2sfr!4v1615302961224!5m2!1sfr!2sfr" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy"></iframe>
    
</div>
{% endblock %}
