<meta charset="UTF-8">
<h1>Bonjour! Votre demande de création de compte a bien été prise en compte!</h1>

<p>
    Un administrateur va traiter votre demande dans les plus brefs délais. Vous devez attendre qu'un administrateur confirme votre demande pour vous connecter.<br><br>
</p>

<p>
    Cordialement!
</p>>