{% block encoding %}<meta charset="UTF-8">{% endblock %}

<p>Email : {{ email }}</p>
<p>Vous avez fait une demande de reinitilisation de mot de passe, veuillez cliquer sur le lien pour reinitiliser le mot de passe </p>
<p><a href={{ path }}>Reinitialiser</a></p>
<p>Si vous ne voulez pas reinitiliser le mot de pass veuillez supprimer ce mail</p>
