<meta charset="UTF-8">
<p>Email : {{ email }}</p>
<p>Vous avez fait une demande de réinitilisation de mot de passe, veuillez cliquer sur le lien pour réinitialiser le mot de passe </p>
<p><a href={{ path }}>Réinitialiser</a></p>
<p>Si vous ne voulez pas réinitiliser le mot de passe, veuillez supprimer ce mail</p>
