{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
<div class="py-5 mt-5">
<h1>Reinitialiser le mot de passe</h1>
{{ form(form) }}
</div>
{% endblock %}