.navbar-brand>img{
	margin-top : -5px;
}

.navbar-brand{
	font-size : 30px;
}

.navbar-brand>h1{
	margin-top : 7px;
}

.navbar-nav{
	padding-top : 20px;
	font-size : 20px;
}

.navbar-right{
	padding-bottom : 15px;
}

/* .cLogin{
	margin-left : 500px;
	margin-right : 500px;
	margin-top : 100px;
} */

.cRegister{
	margin-left : 500px;
	margin-right : 500px;
	margin-top : 100px;
}

.centerForm{
	margin-left : 100px;
}

.form-control{
	margin-bottom : 20px;
}

.textCenter{
	text-align : center;
	margin-bottom : 25px;
}

.eletrovanne{
	text-align : center;
	margin-left : 125px;
	margin-right : 25px;
}

.electrovanneButton{
	text-align : center;
	margin-left : 100px;

}

.stationPompage{
	text-align : center;
	margin-left : 25px;
}

.stationPompageButton{
	text-align : center;
	margin-right : -15px;
}

.account{
	margin-bottom : 10px;
}
