{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<table>
		<tr>
    		<td>
    			<div id="buttonElectrovanne" class="electrovanneButton"> <input type="checkbox" unchecked data-toggle="toggle" data-onstyle="success"></div>
    				<div class="modal" tabindex="-1">
  						<div class="modal-dialog">
    						<div class="modal-content">
      							<div class="modal-header">
        							<h5 class="modal-title">Modal title</h5>
        							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      							</div>
      							<div class="modal-body">
        							<p>Modal body text goes here.</p>
      							</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        							<button type="button" class="btn btn-primary">Save changes</button>
      							</div>
    						</div>
  						</div>
					</div>
    		</td>
    		
    		<td>
    			<div class="stationPompageButton"> <input id="buttonStation" type="checkbox" unchecked data-toggle="toggle" data-onstyle="success"> </div>
    		</td>
		</tr>
		<tr>
			<td>
    			<div class="eletrovanne">
            		<h2> Electrovannes </br></h2>
                    <form action="/home" method="GET">
                        <select name="electrovanne" id="electrovanne">
                        	<option> Selectionner </option>
                            <option value="electrovanne1"> electrovanne 1 </option>
                            <option value="electrovanne2"> electrovanne 2 </option>
                            <option value="electrovanne3"> electrovanne 3 </option>
                        </select>
                    </form>
    			</div>
			</td>
			
			<td>
    			<div class="stationPompage">
            		<h2> Stations de pompage </br></h2>
                    <form action="/home" method="GET">
                        <select name="stationPompage" id="stationPompage">
                        	<option> Selectionner </option>
                            <option value="stationPompage1"> Station de pompage 1 </option>
                            <option value="stationPompage2"> Station de pompage 2 </option>
                            <option value="stationPompage3"> Station de pompage 3 </option>
                        </select>
                    </form>
    			</div>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
    				$( "#buttonElectrovanne" ).on( "click", function() {
 						 alert('Ce code fonctionne !');
					});
				</script>
{% endblock %}
