{% extends '@EasyAdmin/layout.html.twig' %}

{%  block content %}
	<div class="jumbotron">
		<h1 class="display-4">Interface administrateur</h1>
		<p class="lead">Interface administrateur</p>
	</div>
{% endblock %}