
<footer class="relative-bottom bg-secondary text-center">
	<!-- Copyright -->
	<div class="bg-gradient text-center p-3">
		<h5 class="text-white">Lycée Capou - 2021 Copyright</h5>
  	</div>
</footer>