
<footer class="fixed-bottom bg-secondary text-center text-lg-start">
	<!-- Copyright -->
	<div class="bg-gradient text-center p-3">
		<h5 class="text-white">Lycée Capou - © 2021 Copyright</h5>
  	</div>
</footer>