{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>
	<br>
    {{ form_start(forgottenPassForm) }}
    
    {{ form_row(forgottenPassForm.email, {
        	'label': 'Email :', 
        	'attr': {'placeholder': 'Adresse e-mail'}
        	})
    }}
    {{ form_end(forgottenPassForm) }}
{% endblock %}
