{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Analyse{% endblock %}

{% block body %}
	<div id="chartContainerTemp" style="height: 370px; width: 100%;"></div>
	<div id="chartContainerHumi" style="height: 370px; width: 100%;"></div>
{{ parent() }}
{{ encore_entry_script_tags('graph') }}
{% endblock %}
