<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% block stylesheets %}
        	<style>
        		.navbar-brand>img{
        			margin-top : -5px;
        		}
        		.navbar-brand{
        			font-size : 30px;
        		}
        		.navbar-header>h1{
        			font-size : 30px;
        		}
        		.navbar-nav{
        			padding-top : 20px;
        			font-size : 20px;
        		}
        		.navbar-right{
        			padding-bottom : 15px;
        		}
        		.cLogin{
        			margin-left : 500px;
        			margin-right : 500px;
        			margin-top : 100px;
        		}
        		.cRegister{
        			margin-left : 500px;
        			margin-right : 500px;
        			margin-top : 100px;
        		}
        		.centerForm{
        			margin-left : 100px;
        		}
        		.form-control{
        			margin-bottom : 20px;
        		}
        		.textCenter{
        			text-align : center;
        			margin-bottom : 25px;
        		}
        		.eletrovanne{
        			text-align : center;
        			margin-left : 125px;
        			margin-right : 25px;
        		}
        		.stationPompage{
        			text-align : center;
        			margin-left : 25px;
        			margin-right : 100px;
        		}
			</style>
	    {% endblock %}
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="/home">
      					<img src="./img/Logo_Capou.png" alt="Logo" width="70" height="70" class="d-inline-block align-top">
    				</a>
     				<h1 class="navbar-brand"> Lycée Capou </h1>
    			</div>
    			{% if app.user %}
    				<ul class="nav navbar-nav">
      					<li><a href="/home"> Accueil </a></li>
                        <li><a href="/pilotage"> Pilotage </a></li>
                        <li><a href="/logs"> Logs </a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="/account"><span class="glyphicon glyphicon-user"></span> Votre Compte </a></li>
    					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Déconnexion </a></li>
    				</ul>
				{% else %}
					<ul class="nav navbar-nav">
      					<li><a href="/home"> Accueil </a></li>
      					<li><a href="/wipy"> Test Wipy </a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
                    	<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Inscription </a></li>
                    	<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Connexion </a></li>
                    </ul>
                {% endif %}
			</div>
		</nav>
    </head>
    <body>
        {% block body %}{% endblock %}
        <!--  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!--Bootstrap Bundle--><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script type="text/javascript">
            {% block javascript %}{% endblock %}
        </script>   
    </body>
</html>
