<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% block stylesheets %}
        	<link rel="stylesheet" href="./css/stylesheet.css" type="text/css" />
	    {% endblock %}
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="/">
      					<img src="./img/Logo_Capou.png" alt="Logo" width="70" height="70" class="d-inline-block align-top">
    				</a>
     				<a class="navbar-brand" href="/"><h1> Lycée Capou </h1></a>
    			</div>
    			{% if app.user %}
    				<ul class="nav navbar-nav">
                        <li><a href="/pilotage"> Pilotage </a></li>
                        <li><a href="/logs"> Logs </a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="/account"><span class="glyphicon glyphicon-user"></span> Votre Compte </a></li>
    					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Déconnexion </a></li>
    				</ul>
				{% else %}
					<ul class="nav navbar-nav">
      					<li><a href="/esp"> Test Wipy </a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
                    	<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Inscription </a></li>
                    	<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Connexion </a></li>
                    </ul>
                {% endif %}
			</div>
		</nav>
    </head>
    <body>
        {% block body %}{% endblock %}
        <!--  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!--Bootstrap Bundle--><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script type="text/javascript">
            {% block javascript %}{% endblock %}
        </script>   
    </body>
</html>
