{% extends 'base.html.twig' %}

{% block title %}Hello WipyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Longitude</th>
				<th scope="col">Latitude</th>
			</tr>
		</thead>
		<tbody>
	        {% for longitude in esp %}
				<tr>
					<th scope="row">{{ longitude.id }}</th>
					<td>{{ longitude.longitude }}</td>
					<td>{{ longitude.latitude }}</td>
				</tr>
	        {% endfor %}</p> 
		</tbody>
	</table>   
</div>
{% endblock %}
